
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ANTHROPIC_API_KEY=sk-ant-api03-XXXXXXXXXXXXXXXXXXX
GROQ_API_KEY=gsk_XXXXXXXXXXXXXXXXXXXXXXXX
CREDENTIALS_PROFILE_NAME=XXXXXXXXXXXXXXXX

LANGCHAIN_API_KEY=ls__XXXXXXXXXXXXXXXXXXXXXXXXXX
LANGCHAIN_TRACING_V2=true

BRAVE_SEARCH_API_KEY=BSXXXXXXXXXXXXXXXX