anthropic
boto3
bs4
chromedriver-py
cohere
docopt
faiss-cpu
google-api-python-client
pdfplumber
python-dotenv
langchain >= 0.3.0
langchain-aws
langchain-fireworks
langchain_core
langchain-cohere
langchain_community
langchain_experimental
langchain_openai
langchain-ollama
langchain_groq
langchain-google-genai
langchain-together
langsmith
schema
streamlit
selenium
tiktoken
transformers
rich
trafilatura
watchdog