anthropic
boto3
bs4
chromedriver-py
cohere
docopt
faiss-cpu
google-api-python-client
pdfplumber
python-dotenv
langchain
langchain-aws
langchain-fireworks
langchain_core
langchain_cohere
langchain_community
langchain_experimental
langchain_openai
langchain_groq
langsmith
schema
streamlit
selenium
tiktoken
transformers
rich
trafilatura
watchdog