boto3
bs4
cohere
docopt
faiss-cpu
google-api-python-client
pdfplumber
python-dotenv
langchain
langchain-cohere
langchain_core
langchain_community
langchain_experimental
langchain_openai
langchain_groq
langsmith
streamlit
selenium
rich
trafilatura
watchdog